@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: pink;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'EB Garamond', sans serif;
}

.btn {
    background-color: white;
    font-size: 1.2rem;
    
}